@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  background-color: #f4f4f4;
  background: url(/day-2/img/agata-ciosek-CyxrqDV67eU-unsplash.jpg) no-repeat center center/cover;
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
  /* height: 100vh; */
  /* background-size: cover; */
  /* background-position: center; */
  /* object-fit: cover; */
  /* background-size: auto/contain/cover are the options */
  /* background-position: ; */
  position: relative;
}

/* .hero-image {
  
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
} */

.heading {
  text-align: center;
  color: aquamarine;
  padding: 20px;
  margin: 50px;
}

.p1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 2rem;
  font-style: italic;
  text-decoration: underline;
}

/* Imported Merriweather font from google */
.p2 {
  font-family: 'Merriweather', serif;
  font-size: 2rem;
}

/* stick with the long land as the short hand isn't good */
.p3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  text-decoration: underline;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration-color: yellow;
  text-decoration-style: dashed;
}

.div1 {
  height: 300px;
  width: 300px;
  background-image: url(/day-2/img/cat_dog.jpg);
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  background-position: center;
}

.div2 {
  height: 300px;
  width: 300px;
  background-image: url(/day-2/img/greg-rosenke-7QS8pdlkgog-unsplash.jpg);
  background-size: 300px 300px;
  background-position: center;
  background-repeat: no-repeat;
  /* object-fit: cover; */
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  /* background-position: center; */
}

.div3 {
  height: 500px;
  width: 500px;
  background: url(/day-2/img/oguzhan-edman-ISIufLSIdQI-unsplash.jpg) no-repeat center center/cover;
  background-size: 500px 500px;
}

.div3 {
  margin: auto;
  border: 5px solid black;
  border-style: double solid;
  border-color: #f4f4f4;
  /* border-top: black solid 10px; */
  border-width: 10px;
  /* border-radius: 50%; */
}

.img-1 {
  margin: auto;
  text-align: center;
}

.px50 {
  height: 500px;
  width: 500px;
  border-radius: 50px;
  margin: auto;
}

.percent50 {
  height: 500px;
  width: 500px;
  border-radius: 50%;
  margin: auto;
}

.div100 {
  height: 400px;
  width: 400px;
  background-image: url(/day-2/img/oguzhan-edman-ISIufLSIdQI-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 400px 400px;
  /* background-color: blue; */
  /* border: 2px solid black; */
  border-top: yellow dotted 5px;
  border-bottom: 5px solid yellow;
  border-left: 10px blue solid;
  margin: 50px auto 100px;
  padding: 20px;
}